.card {
  margin-top: 20px !important;
}

.linearProgress {
  margin-top: 10px !important;
}

.profilePicture {
  margin-right: 20px !important;
  width: 50px;
  height: 50px;
  padding: 5px !important;
}

.fabIcon {
  padding-right: 10px !important;
}

.cardContainer {
  padding: 20px !important;
}

.foodTextContainer {
  margin-top: 200px !important;
  text-align: center;
}

.foodIcon {
  max-width: 50px !important;
  width: auto !important;
  height: 100% !important;
  max-height: 50px !important;
}

.foodDiv {
  width: 50px !important;
  height: 50px !important;
}

.foodIconFontAwesome {
  width: 40px !important;
  height: 40px !important;
}

.fullWidth {
  width: 100% !important;
}

.chip {
  margin-right: 8px !important;
}

.MuiCardHeader-root {
  align-items: flex-start !important;
}

.MuiCardMedia-root {
  height: 60px !important;
  border-radius: 25px !important;
  background-size: contain !important;
}

.MuiChip-icon {
  margin-left: 10px !important;
}
